@page "/vehicles/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3 class="card-title">Edit vehicle</h3>
<FormComponent ButtonText="Update" OnValidSubmit="Editvehicle" vehicle="vehicle" />
@code {
    [Parameter] public int id { get; set; }
    Vehicle? vehicle = new Vehicle();

    protected async override Task OnParametersSetAsync()
    {
        vehicle = await _client.GetFromJsonAsync<Vehicle>($"{Endpoints.VehiclesEndpoint}/{id}");
    }

    async Task Editvehicle()
    {
        await _client.PutAsJsonAsync($"{Endpoints.VehiclesEndpoint}/{id}", vehicle);
        _navManager.NavigateTo("/vehicles/");
    }
}
